@charset "UTF-8";

.navbar {
  overflow: hidden;
  /* background-color: #000; */
  height: 50px;
  position: relative;
  z-index: 99;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  background-color: transparent;
}

.sticky + .one {
  margin-top: 50px;
}

/* DESKTOP NAV */

.menu-desktop {
  display: none;
}

/* RESPONSIVE NAV */

.menu-responsive {
  position: relative;
  left: 15px;
  top: 15px;
  width: 100%;
}

.hamburger {
  position: relative;
  z-index: 50;
  transition: 0.8s;
}

.menu-icon {
  display: block;
  width: 25px;
  height: 2px;
  margin-bottom: 5px;
  background-color: #fff;
  transition: 0.4s;
}

.menuicon_first {
  transform: rotate(45deg) translateX(2px) translateY(-4px);
  transform-origin: top left;
}

.menuicon_second {
  opacity: 0;
}

.menuicon_third {
  transform: rotate(-45deg) translateX(2px) translateY(4px);
  transform-origin: bottom left;
}

.menu-res {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100vw);
  transition: 0.7s;
}

.show {
  transform: translateX(0);
}

.menu-res li {
  display: block;
  margin: 20px 0;
  color: #fff;
}

.menu-res li a {
  font-size: 1.5rem;
}

.menu-res-line {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
}

@media (min-width: 1000px) {

.navbar {
  position: absolute;
  height: auto;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  background-color: transparent;
}

.sticky + .one {
  margin-top: 0px;
}

.menu-responsive {
  display: none;
}

.menu-desktop {
  display: block;
  margin-top: 30px;
  margin-left: 50px;
}

.menu_logo {
  width: 160px;
}

.menu-desktop-list {
  color: #aaa;
  list-style-type: none;
  padding: 0;
  transition: 0.5s;
}

.menu-desktop-list li {
  margin: 5px 0;
  transition: 0.3s;
}

.menu-active {
  color: #fff;
}

}
