@charset "UTF-8";

@media screen and (min-width: 768px) {

  .logo_header {
    width: 300px;
    margin-left: -150px;
  }

  .section-foreground-text {
    font-size: 1.2rem;
  }

  .section-foreground-title {
    font-size: 2.8rem;
  }

  /* GALLERY SECTION */

  .gallery-medium img {
    display: block;
  }

}

@media screen and (min-width: 1000px) {

  /* GALLERY SECTION */

  .gallery-small img {
    display: block;
  }

}
