@charset "UTF-8";

@media screen and (min-width: 768px) {

  /* INSTAGRAM ICON FIXED */

  .instagram-icon {
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
  }

  /* HEADER */

  .logo_header {
    width: 300px;
    margin-left: -150px;
  }

  .section-foreground-text {
    font-size: 1.2rem;
  }

  .section-foreground-title {
    font-size: 2.8rem;
  }

  /* GALLERY SECTION */

  .gallery-medium {
    flex-direction: row;
  }

  .gallery-medium img {
    display: block;
  }

}

@media screen and (min-width: 1000px) and (orientation: landscape) {

  /* HEADER */

  .front_hero {
    background-image: none;
  }

  /* PARALLAX SECTION */

  .parallax-uno {
    background-image: none;
  }

  .parallax-dos {
    background-image: none;
  }

  .parallax-tres {
    background-image: none;
  }

  /* GALLERY SECTION */

  .gallery-small img {
    display: block;
  }

  /* CONTACT */

  .contact_section {
    background-image: url('../images/contact-bkg.jpg');
  }


}
