@charset "UTF-8";

@font-face {
  font-family: 'WhiteAngelica';
  src:  url('../fonts/whiteangelica.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Libre Baskerville', serif;
  background-color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,h2 {
  font-family: 'WhiteAngelica', serif;
}

/* INSTAGRAM LINK */

.instagram-icon {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 99;
  width: 40px;
  height: 40px;
}

.instagram-icon img {
  width: 40px;
}

/* HEADER */

.front_hero {
  background-image: url('../images/bkg-1-res.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  position: relative;
}

.logo_header {
  position: absolute;
  width: 250px;
  left: 50%;
  margin-left: -125px;
  top: 50%;
  margin-top: -50px;
}

.logo_header img {
  width: 100%;
}

/* FOREGROUND */

.section-foreground {
  margin: 0;
  background-color: #000;
  padding: 12vh 12vw;
  text-align: center;
}

.section-foreground-text {
  color: #fff;
  margin: 0;
  font-size: 0.9rem;
  transform: translateY(0.5rem);
}

.section-foreground-title {
  color: #fff;
  margin: 0;
  font-size: 2rem;
  /* transform: translateY(-0.8rem); */
}

.section-foreground-line {
  display: inline-block;
  height: 2px;
  width: 30px;
  background-color: #fff;
  transform: translateY(-0.5rem);
}

/* PARALLAX SECTION */

.parallax_section {
  height: 100vh;
}

.parallax-uno {
  background-image: url('../images/bkg-2-res.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.parallax-dos {
  background-image: url('../images/bkg-3-res.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.parallax-tres {
  background-image: url('../images/bkg-4-res.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* GALLERY SECTION */

.non-parallax-title {
  font-size: 2rem;
}

.gallery_section {
  max-width: 2000px;
}

.gallery_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gallery-big img {
  display: block;
  width: 100%;
  padding: 2px;
}

.gallery-medium {
  flex-direction: column;
}

.gallery-medium img {
  display: block;
  width: 100%;
  padding: 2px;
}

.gallery-small img {
  display: none;
  width: 33.3%;
  padding: 2px;
}

/* CONTACT */

.contact_section {
  background-image: url('../images/contact-bkg-res.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact_title {
  font-family: 'WhiteAngelica', serif;
  color: #fff;
  font-size: 2rem;
  line-height: 2.2rem;
  text-align: center;
}

.contact_info {
  color: #fff;
  margin: 5px 0;
}

.contact_info img {
  width: 30px;
  margin-right: 15px;
  vertical-align: middle;
}
